html,body{
    font-family: 'Microsoft Yahei','SimSun';
    background-color: #eeeeee;
    color:#333333;
}
/*Global*/
/*全局的input*/
input:focus{
    box-shadow: 0 0 4px #f7a501;
}



/*通用组件*/
/*badge 与label相对应 只是没有后面的说明*/
.badge{
    display: inline-block;
    min-width: 10px;
    padding: 3px;
    font-size: 12px;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 2px;
    background-color: #FF5500;
}
/*返 立减 common label 带后续的隐藏标签说明框*/
.label{
    display:inline-block;
    position:relative;
    border: 1px solid;border-radius: 2px;
    font-size:12px;
    font-family: SimSun, serif;
    line-height: 18px;
    padding-right: 2px;
    padding-left: 0;/*该行为了去除.cashback遗留样式的多余padding*/
}
.label:before{
    display: inline-block;
    position: relative;
    margin-right: 2px;padding: 0 2px;
    color: white;
}
/*label的独立style*/
/*返*/
.label.cashback{
    border-color: #128d56;
    color:#128d56;
}
.label.cashback:before{
    content:'返';
    width: 1em;
    background: #128d56;
}
/*将返*/
.label.cashbacked{
    border-color: #128d56;
    color:#128d56;
}
.label.cashbacked:before{
    content:'可返';
    width: 2em;
    background: #128d56;
}

/*立减*/
.label.save,.label.saved{
    border-color: #ff5500;
    color:#ff5500;
}
.label.save:before,.label.saved:before{
    content:'立减';
    width: 2em;
    background: #ff5500;
}
/*已减*/
.label.saved:before{
    content:'已减';
}
/*tools*/
/*通用工具类*/
/*这是一个空白快*/
.blank{
    height: 18px;
    display: block;
}
.text-center { text-align: center; }
.text-right { text-align: right; }
.pull-left { float: left; }
.pull-right { float: right; }

/*字体 背景 边框颜色*/
.border-primary{ border: 1px solid #128d56; }

.bg-primary{ background-color: #128d56; }
.bg-warning{ background-color: #f7a501; }
.bg-error{ background-color: #FF5500; }

.text-primary{color: #128d56; }
.text-warning{color: #f7a501; }
.text-error{color: #FF5500; }
.text-light{color: #aaaaaa; }

.text-larger{font-size: 1.5em}

/**
 * Content Margin
 * --------------------------------------------------
 */
.margin {
    margin: 10px; }

.margin-top, .margin-vertical {
    margin-top: 10px; }

.margin-right, .margin-horizontal {
    margin-right: 10px; }

.margin-bottom, .margin-vertical {
    margin-bottom: 10px; }

.margin-left, .margin-horizontal {
    margin-left: 10px; }

/*set default btn text align center*/
.btn{
    text-align: center;
    position: relative;
}
/*以下为override ionic.css中的样式*/
.button-full, .button-full > .button {
    padding: 5px 0;
    margin-top: 20px;
    font-size: 18px;
}
/**
 * Lists
 * --------------------------------------------------
 */
.bar{
    border:none;
}
.list {
    position: relative;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 0;
    margin-bottom: 20px;}

/*Radion Button Inputs*/
/*the radio items*/
.item-radio {
    border:none;
    padding: 0; }
.item-radio:hover {
    cursor: pointer; }

.item-radio input {
    /* hide any radio button inputs elements (the ugly circles) */
    position: absolute;
    left: -9999px; }
.item-radio input:checked ~ .item-content {
    /*默认的单选按钮选中状态*/
    color: #009F4B;
    background: #ffffff; }
.item-radio-btn .item-radio input:checked ~ .item-content {
    /*按钮型的不加icon的单选按钮选中状态*/
    color: #ffffff;
    background: #009F4B; }
.item-radio input:checked ~ .radio-icon {
    /* show the checkmark icon when its checked */
    visibility: visible; }

/*部分页面背景需要设为白色*/
.panel-white ion-content{
    background-color: #ffffff;
}
