/*start list items*/
.item-thumbnail {
    height: 118px;
    margin: 8px;
    /*左缩进*/
    padding: 10px 115px  10px;
    box-shadow: 0 0 4px 0 #333;}
/*logo以及机构名title start*/
.item-thumbnail img,.item-thumbnail .title{
    position: absolute;
    /*左缩进对应*/
    bottom: 15px;left: 15px;
    width: 90px;
    text-align: center;}
.item-thumbnail img{
    height: 90px;
}
.item-thumbnail .title{
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    color: white;
    background: rgba(0,0,0,.5);;
}
/*end*/
.item-thumbnail h2{margin-bottom: 10px}
.item-thumbnail p{margin-bottom: 5px;font-size: 14px;color: #333;}
/*文字超出隐藏*/
.item-thumbnail p,.item-thumbnail h2,.item-thumbnail .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*end list items*/

/*start 头部二级菜单栏*/
#course-list .bar.bar-subheader{
    padding: 0;
    border: none;
}
#course-list .btn-tab{
    position: relative;
    float: left;
    width: 50%;
    height: 44px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    background: #4B5366;
    cursor: pointer;
}
#course-list .btn-tab.active{
    background: #2F3541;
}
#course-list .btn-tab.active:after{
    content: 's ';
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -5px;
    width: 10px;
    height: 10px;
    border: 5px solid transparent;
    border-top-color: #2F3541;
}
/*end 头部二级菜单栏*/
/*底部菜单栏*/
#course-list .nav{
    color: #eeeeee;
    background-color: #2F3541;
    line-height: 14px;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;

    position: absolute;
    bottom: 0;
    z-index: 5;
    width: 100%;
    height: 49px;
}
#course-list .nav-item>.icon{
    display: block;
    margin: 0 auto;
    height: 30px;
    background-size: 20px 20px;
}
.icon.nav-course{ background: url("../images/nav-course.png") center no-repeat;}
.icon.nav-addr{ background: url("../images/nav-addr.png") center no-repeat;}
.icon.nav-time{ background: url("../images/nav-time.png") center no-repeat;}
.icon.nav-isk{ background: url("../images/nav-isk.png") center no-repeat;}

#course-list .nav-item{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    font-size: 12px;
}
#course-list .nav-item.activated{
    background-color: #333;
    cursor: pointer;
}
#course-list .nav-item:hover{
    cursor: pointer;
}

#course-list .nav-item + .nav-item:before {
    border-left: 1px solid #1F232A;
    display: block;
    float: left;
    width: 1px;
    box-shadow: 0 0 2px 0 #1F232A;
    height: 40px;
    margin: 5px auto;
    content: " "; }
/*end filter tabs*/