/*start list items*/
.item-thumbnail {
    height: 125px;
    margin: 8px;
    padding-left: 135px;
    min-height: 100px;
    box-shadow: 0 0 4px 0 #333;}
.item-thumbnail img,.item-thumbnail .title{
    position: absolute;
    /*padding: 10px;*/
    top: 0;
    left: 0;
    width: 125px;
    height: 100%;
    max-width: 125px;
    max-height: 100%;}
.item-thumbnail .title{
    top: auto;left: 0; bottom: 0;
    text-align: center;
    color: white;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    background: rgba(0,0,0,.5);;
}
.item-thumbnail h2{margin-bottom: 10px}
.item-thumbnail p{margin-bottom: 5px;font-size: 14px;color: #333;}
.item-thumbnail p,.item-thumbnail h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*end list items*/

/*start filter tabs*/
#course-list .nav{
    color: #eeeeee;
    background-color: #2F3541;
    line-height: 14px;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;

    position: absolute;
    bottom: 0;
    z-index: 5;
    width: 100%;
    height: 49px;
}
#course-list .nav .icon{
    display: block;
    margin: 0 auto;
    height: 30px;
}
/*.icon.nav-course{ background: url("../images/nav-course.png") center no-repeat;}*/
/*.icon.nav-addr{ background: url("../images/nav-addr.png") center no-repeat;}*/
/*.icon.nav-time{ background: url("../images/nav-time.png") center no-repeat;}*/
/*.icon.nav-isk{ background: url("../images/nav-isk.png") center no-repeat;}*/

#course-list .nav-item{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    font-size: 12px;
}
#course-list .nav-item:hover{
    cursor: pointer;
}

#course-list .nav-item + .nav-item:before {
    border-left: 1px solid #1F232A;
    display: block;
    float: left;
    width: 1px;
    box-shadow: 0 0 2px 0 #1F232A;
    height: 40px;
    margin: 5px auto;
    content: " "; }
/*end filter tabs*/