/*start list items*/
.item-thumbnail {
    height: 136px;
    margin: 8px;
    /*左缩进*/
    padding: 10px 5px 10px 115px;}
/*logo以及机构名title start*/
.item-thumbnail img,.item-thumbnail .title{
    position: absolute;
    /*左缩进对应*/
    bottom: 17px;left: 8px;
    width: 100px;
    text-align: center;}
.item-thumbnail img{
    height: 100px;
}
.item-thumbnail .title{
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    color: white;
    background: rgba(0,0,0,.5);;
}

.item-thumbnail h2{margin-bottom: 5px}
.item-thumbnail p{margin-bottom: 2px;font-size: 14px;color: #333;}
/*文字超出隐藏*/
.item-thumbnail p,.item-thumbnail h2,.item-thumbnail .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*end list items*/