/*所有页面的header部分的样式*/
.bar.bar-header{
    padding: 0;
    background-color: #009F4B;
}
.bar.bar-header .button{
    color: #ffffff;
    font-size: 16px;
    line-height: 43px;
    border: none;
    border-radius: 0;
    padding: 0 10px;
}
.bar.bar-header .btn-icon{
    width: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    text-indent: -9999px;
}
.bar.bar-header .btn-back{
    background-image: url("../images/header-back.png");
}
.bar.bar-header .btn-phone{
    background-image: url("../images/header-phone.png");
}