/*3rd time filter 开课时间过滤*/
/*the modal*/
/*.modal-filter-time {*/
    /*background-color: transparent;}*/
    /*.modal-filter-time ion-content {*/
    /*top: 200px;*/
    /*background-color: #ffffff;}*/

/*control radio-item width*/
.item-cols4{
    overflow: hidden;}
    .item-cols4 .item-radio{
        text-align: center;
        width: 25%;
        float: left;}