/*3rd time filter 开课时间过滤*/
/*the modal*/
/*.modal-filter-time {*/
    /*background-color: transparent;}*/
    /*.modal-filter-time ion-content {*/
    /*top: 200px;*/
    /*background-color: #ffffff;}*/

/*control radio-item width*/
.modal-filter-time .item-radios{
    overflow: hidden;}
    .modal-filter-time .item-radios .item-radio{
        /*外部radio容器*/
        margin: 0;
        text-align: center;
        float: left;}
        .modal-filter-time .item-radio .item-content{
            /*内部色框*/
            padding: 8px 0;
            border: 1px solid #cccccc;
        }
.modal-filter-time .item-radios.item-cols4 .item-radio{
    width: 25%;
}
.modal-filter-time .item-radios.item-cols3 .item-radio{
    width: 33.333%;
}

.modal-filter-time .item-radio+.item-radio{
    margin-left: -1px;
}
/*描述性介绍文字*/
.modal-filter-time label{
    display: block;
    padding: 10px 0;
    font-size: 18px;
    color: #42A478;
}
/*radio组 包含关系:
    .item-radio:
        input:
        .item-content:
*/
.modal-filter-time .item-radio{
    font-size: 14px;
    padding: 5px 0;}
    .modal-filter-time .item-content{
        padding: 5px 0;}

.modal-filter-time .title .icon{
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: bottom;
    background: center no-repeat;
    background-size: 20px 20px;
}
.modal-filter-time .icon.icon-calender{
    background-image:url('../images/icon-calender.png');
}
.modal-filter-time .icon.icon-clock{
    background-image:url('../images/icon-clock.png');
}
/*现在搜索按钮*/
.modal-filter-time .btn-search{
    margin: 20px auto;
    padding: 2px;
}