<ion-view class="panel-white">
    <div class="bar bar-header">
        <button nav-clear ui-sref="courseList" class="button btn-icon btn-back"></button>
        <div class="h1 title">申请助学贷款</div>
    </div>

    <ion-content class="has-header padding" has-bouncing="false" overflow-scroll="false">
        <div class="form">
            <div class="item" ng-click="openItemFilter()">
                <span>课程意向:</span>
                <div class="input" ng-bind-html="chosen.cat.name||'<span class=\'text-light\'>请选择</span>'"></div>
                <i>&nabla;</i>
            </div>
            <div class="item">
                <span>联系电话:</span>
                <input type="text" ng-model="apply.phone"/>
                <i>&nabla;</i>
            </div>
            <div class="item">
                <span>学员姓名:</span>
                <input type="text" ng-model="apply.userName"/>
                <i>&nabla;</i>
            </div>
            <div class="item">
                <span>备注信息:</span>
                <textarea placeholder="#备注信息#" cols="30" rows="4" ng-model="apply.remark"></textarea>
            </div>

        </div>
        <button ng-click="submitApply()" class="button button-full">立即提交</button>
        <div class="blank"></div>
    </ion-content>
</ion-view>