<ion-view id="registerPage" title="">
    <div class="bar bar-header">

        <div class="h1 title">绑定学校，更多专项折扣</div>
    </div>
    <ion-content class="has-header" has-bouncing="false" overflow-scroll="false">
        <div class="list">
            <div class="padding-"></div>
            <label class="item item-input item-select">
                <div class="input-label">选择学校</div>
                <select ng-model="schoolId" ng-options="s.id as s.name for s in school"></select>
            </label>

            <div class="padding">
                <button class="button button-block button-positive" ng-click="submitComplete(schoolId)">立刻绑定</button>
            </div>
            <div class="padding text-center">立享会员特权，全场7折起！</div>
        </div>
    </ion-content>
</ion-view>