<ion-view title="{{ pageName }}" id="detail">
    {{ title }}
    <div class="bar bar-header">
        <!--nav-clear to clear animation-->
        <a nav-clear ui-sref="courseDetail({id:id})" class="button btn-icon btn-back"></a>

        <div class="h1 title">预定课程-{{id}}</div>
        <a class="button btn-icon btn-phone" href="tel:4000250084"></a>
    </div>
    <ion-content class="has-header" has-bouncing="false" overflow-scroll="true">
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">手机号</span>
                <input type="text" ng-model="booking.phone" placeholder="">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">姓名</span>
                <input type="password" ng-model="booking.name">
            </label>

            <div class="padding">
                <button class="button button-block button-positive" ng-click="submitBooking()">提交订单</button>
            </div>
        </div>
    </ion-content>
</ion-view>