<ion-view id="course-search" class="panel-white">
    <div class="bar bar-header">
        <button nav-clear ui-sref="list.course" class="button btn-icon btn-back"></button>
        <div class="h1 title">自助选课</div>
    </div>

    <ion-content class="has-header padding" has-bouncing="false" overflow-scroll="false">
        <div class="form">
            <div class="item" ng-click="openItemFilter()">
                <span>课程类目:</span>
                <div class="input" ng-bind-html="filter.category.name||'<span class=\'text-light\'>请选择</span>'"></div>
                <i>&nabla;</i>
            </div>
            <div class="item" ng-click="openAddrFilter()">
                <span>上课地区:</span>
                <div class="input" ng-bind-html="filter.location.name||'<span class=\'text-light\'>不限</span>'"></div>
                <i>&nabla;</i>
            </div>

        </div>
        <button ui-sref="list.course" class="button button-full">搜 索</button>
        <button ui-sref="list.course" class="button button-primary button-outline button-full">随便逛逛</button>
        <div class="blank"></div>
    </ion-content>
</ion-view>