<ion-view id="course-list" title="">
    <div class="bar bar-header">
        <button click-refresh  class="button button-clear">刷新</button>
        <div class="h1 title">爱上课</div>
        <button nav-clear class="button button-clear button-positive" ui-sref="login">登录</button>
    </div>
    <ion-content class="has-header has-footer" has-bouncing="true" overflow-scroll="false">
        <div class="list">
            <div ng-show="loading" class="padding text-center">加载中...</div>
            <a class="item item-thumbnail" ng-repeat="c in courses" ng-href="#/courses/{{ c.id }}">
                <img ng-src="{{ c.logoUrl }}" alt="pic"/>
                <span class="title">{{c.instName}}</span>
                <h2 class="text-primary">{{c.courseName}}</h2>
                <p>
                    ￥<strong class="text-error text-larger">{{c.price|| '定制' }}</strong>
                    &nbsp;<s ng-if="c.originalPrice">原价:{{c.originalPrice}}</s>
                    &nbsp;<span ng-if="c.cashback" class="badge bg-primary">返</span>
                    &nbsp;<span ng-if="c.commission" class="badge bg-error">立减</span>
                </p>
                <p>上课日期:
                    <span ng-if="c.startUponArrival">
                    {{c.startDate| date:'yyyy-M.d'}}<span ng-if="c.finishDate">到{{c.finishDate| date:'yyyy-M.d'}}</span>
                    </span>
                    <span ng-if="!c.startUponArrival">{{c.regPhone}}</span>
                </p>
                <p>上课地址:{{c.address}}</p>
            </a>
            {{filter}}
            <div ng-if="courses!=''" class="page text-center">
            <div ng-click="prePage()" ng-if="page.start >= page.count"
            class="ion-ios7-arrow-left icon-left button button-outline button-dark">上一页
            </div>
                &nbsp;&nbsp;&nbsp;
            <div ng-click="nextPage()" ng-if="page.start + page.count < page.total"
            class="ion-ios7-arrow-right icon-right button button-outline button-dark">下一页
            </div>
            </div>
        </div>
    </ion-content>

    <div class="tabs tabs-icon-top tabs-striped">
        <a class="tab-item" ng-click="openItemFilter()">
            <i class="icon ion-home"></i>
            课程类目
        </a>
        <a class="tab-item" ng-click="openAddrFilter()">
            <i class="icon ion-star"></i>
            上课地点
        </a>
        <a class="tab-item" ng-click="openTimeFilter()">
            <i class="icon ion-gear-a"></i>
            开课时间
        </a>
        <a class="tab-item"  ng-click="pop=!pop" style="overflow: visible">
            <i class="icon ion-gear-a"></i>
            爱推荐
            <ul class="filter-submenu hide" ng-class="{'hide':!pop}">
                <li class="btn">爱推荐</li>
                <li class="btn">时间asc</li>
                <li class="btn">时间desc</li>
                <li class="btn">价格asc</li>
                <li class="btn">价格desc</li>
            </ul>
        </a>
    </div>
</ion-view>