<ion-view title="{{ pageName }}" id="detail">
    {{ title }}
    <div class="bar bar-header">
        <!--nav-clear to clear animation-->
        <a nav-clear ui-sref="courseList" class="button">返回列表</a>

        <div class="h1 title">{{ title }}</div>
    </div>
    <ion-content class="has-header" has-bouncing="true" overflow-scroll="false">
        <div class="card main">
            <h1>{{course.courseName}}</h1>
            <img ng-src="{{course.logoUrl}}"/>
        </div>
        <table class="card table">
            <tbody>
            <tr>
                <td>返xx元</td>
                <td>预定成功</td>
            </tr>
            <tr>
                <td>x折</td>
                <td>原价￥xx，【爱】会员￥xx</td>
            </tr>
            <tr>
                <td>免费试听</td>
                <td class="has-btn">
                    <button class="button">立即预约</button>
                </td>
            </tr>
            </tbody>
        </table>

        <table class="card table">
            <tbody>
            <tr>
                <td>机构</td>
                <td>{{course.instName}}</td>
            </tr>
            <tr>
                <td>地址</td>
                <td>xx</td>
            </tr>
            </tbody>
        </table>

        <table class="card table">
            <tbody>
            <tr>
                <td>适合学员</td>
                <td>xxx</td>
            </tr>
            <tr>
                <td>开办要求</td>
                <td>xx</td>
            </tr>
            <tr>
                <td>课程目标</td>
                <td>xx</td>
            </tr>
            </tbody>
        </table>
        <!--<ion-slide-box id="home-slider" does-continue="true">-->
        <!--<ion-slide>-->
        <!--<img src="/static/app-ershou/img/shangjia.jpg" alt="...">-->
        <!--</ion-slide>-->
        <!--<ion-slide>-->
        <!--<img src="/static/app-ershou/img/yiqizou.jpg" alt="...">-->
        <!--</ion-slide>-->
        <!--<ion-slide on-slide-changed="slideHasChanged(index)">-->
        <!--<img src="/static/app-ershou/img/ershouhuo.jpg" alt="...">-->
        <!--</ion-slide>-->
        <!--</ion-slide-box>-->
    </ion-content>
</ion-view>