<ion-view id="course-search" class="panel-white">
    <div class="bar bar-header">
        <button nav-clear ui-sref="courseList" class="button btn-icon btn-back"></button>
        <div class="h1 title">自助选课</div>
    </div>

    <ion-content class="has-header padding" has-bouncing="false" overflow-scroll="false">
        <div class="form">
            <div class="item" ng-click="openItemFilter()">
                <span>课程类目:</span>
                <input type="text" placeholder="请选择" ng-model="filter.categoryValue"/>
                <i>&nabla;</i>
            </div>
            <div class="item" ng-click="openAddrFilter()">
                <span>上课地区:</span>
                <input type="text" placeholder="不限" ng-model="filter.locationValue"/>
                <i>&nabla;</i>
            </div>

        </div>
        <button ui-sref="courseList" class="button button-full">搜 索</button>
        <button ui-sref="courseList" class="button button-primary button-outline button-full">随便逛逛</button>
        <div class="blank"></div>
    </ion-content>
</ion-view>