<ion-content class="has-header has-subheader has-footer" has-bouncing="false" overflow-scroll="false">
    <div class="list">
        <div ng-show="loading" class="padding text-center">加载中...</div>
        <a ng-repeat-start="c in courses" class="item item-thumbnail" ng-href="#/courses/{{ c.id }}">
            <img ng-src="{{ c.logoUrl }}" alt="pic"/>

            <h2 class="text-primary">{{c.courseName}}</h2>

            <p>
                <strong class="text-error text-larger">{{c.commission}}折</strong>
                <small ng-if="c.price">￥{{(c.price*c.commission/100)|number:0}}</small>
                &nbsp;<span ng-if="c.cashback" class="badge bg-primary">返</span>
            </p>
            <span class="line"></span>

            <p>
                    <span ng-if="c.startUponArrival">
                    {{c.startDate| date:'yyyy-M-d'}}<span ng-if="c.finishDate">到{{c.finishDate| date:'yyyy-M-d'}}</span>
                    </span>
                <span ng-if="!c.startUponArrival">{{c.regPhone}}</span>
            </p>

            <p>{{c.schooltimeWeek | schooltimeWeek}}（{{c.schooltimeDay|schooltimeDay}}）</p>

            <p>{{c.address}}</p>
        </a>
            <span ng-repeat-end>
                <span ng-if="$index==1"><img ui-sref="applyCourse" class="banner-img" src="./images/list_banner1.png" alt=""/></span>
                <span ng-if="$index==4"><img ui-sref="applyCourse" class="banner-img" src="./images/list_banner2.png" alt=""/></span>
            </span>

        <div ng-if="courses.length == 0" class="padding text-center">>>暂无符合条件的课程<<</div>
        <div ng-if="courses.length != 0" class="page text-center margin-top">
            <div ng-click="prePage()" ng-if="page.start >= page.count"
                 class="button button-outline button-dark">上一页
            </div>
            &nbsp;&nbsp;&nbsp;
            <div ng-click="nextPage()" ng-if="page.start + page.count < page.total"
                 class="button button-outline button-dark">下一页
            </div>
        </div>
    </div>
    <div class="blank"></div>
</ion-content>

<div class="nav tabs">
    <a class="nav-item" ng-click="openItemFilter()">
        <i class="icon nav-course"></i>
        课程类目
    </a>
    <a class="nav-item" ng-click="openAddrFilter()">
        <i class="icon nav-addr"></i>
        上课地点
    </a>
    <a class="nav-item" ng-click="openTimeFilter()">
        <i class="icon nav-time"></i>
        开课时间
    </a>
    <a class="nav-item" ng-click="pop=!pop" style="overflow: visible">
        <i class="icon nav-isk"></i>
        爱推荐
        <ul id="filter" class="filter-submenu hide" ng-class="{'hide':!pop}">
            <li class="btn" ng-click="filterOrder($event)"><i class="icon icon-thumb"></i>&nbsp;爱推荐</li>
            <li class="btn" ng-click="filterOrder($event,'price','asc')">价格&nbsp;<i class="icon icon-arrow-up"></i>
            </li>
            <li class="btn" ng-click="filterOrder($event,'price','desc')">价格&nbsp;<i
                    class="icon icon-arrow-down"></i></li>
            <li class="btn" ng-click="filterOrder($event,'startDate','asc')">时间&nbsp;<i
                    class="icon icon-arrow-up"></i></li>
            <li class="btn" ng-click="filterOrder($event,'startDate','desc')">时间&nbsp;<i
                    class="icon icon-arrow-down"></i></li>
        </ul>
    </a>
</div>