<ion-view class="panel-white">
    <div class="bar bar-header">
        <a nav-clear back-btn class="button btn-icon btn-back"></a>
        <div class="h1 title">抢购成功</div>
    </div>

    <ion-content class="has-header padding" has-bouncing="false" overflow-scroll="false">
        <div class="padding text-center">
            <p>恭喜您抢购成功！</p>
            <p class="margin-vertical">稍后您将接到 <span class="text-error">025-58991945</span> 的来电</p>
            <p>与您确认订单，请耐心等候</p>
        </div>
        <div class="blank"></div>
        <button ui-sref="list.tuan" ui-sref-opts="{location:'replace'}" class="button button-full">浏览其它团购</button>
        <div class="blank"></div>
    </ion-content>
</ion-view>