<ion-view class="panel-white">
    <div class="bar bar-header">
        <a nav-clear back-btn class="button btn-icon btn-back"></a>
        <div class="h1 title">抢购成功</div>
    </div>

    <ion-content class="has-header padding" has-bouncing="false" overflow-scroll="false">
        <div class="padding text-center">
            <p>恭喜您抢购成功！</p>
            <p class="margin-top">支付方式：</p>
            <p> A.电脑登陆ishangke.cn进入“个人中心”&rarr;“团购订单”&rarr;“去支付”</p>
            <p class="margin-bottom"> B.直接汇款至爱上课支付宝官方账号caiwu@ishangke.cn</p>
            <p>支付成功后，您将收到客服确认电话</p>
        </div>
        <div class="blank"></div>
        <button ui-sref="list.tuan" ui-sref-opts="{location:'replace'}" class="button button-full">浏览其它团购</button>
        <div class="blank"></div>
    </ion-content>
</ion-view>