<div class="modal slide-in-up">
    <div class="bar bar-header">
        <button class="button button-icon icon ion-navicon" ng-click="modal.hide()">关闭</button>
        <div class="h1 title">
            上课地点
        </div>
    </div>
    <ion-content class="has-header">
        <ion-tabs class="filter tabs-left">
            <ion-tab title="南京">
                <ion-radio ng-model="filter_tmp.locationValue" ng-value="undefined" name="locationValue" ng-click="confirm_filter()">
                   不限
                </ion-radio>
                <ion-radio ng-model="filter_tmp.locationValue" ng-value="a.value"
                           ng-repeat="a in location" name="locationValue" ng-click="confirm_filter()">
                    {{ a.name}}
                </ion-radio>
            </ion-tab>
        </ion-tabs>
    </ion-content>

</div>